<div class="hero">
  <div class="navbar-homepage py-3 px-4">
    <a href="/">
      <%= image_tag("pitch-masters-logo.png", :class => "brand") %>
    </a>
    <!--<div class="nav-bar-right d-flex align-items-center">
      <%= link_to "Contact", "#footer", class: "px-3 d-none d-sm-block" %>
    </div>-->
  </div>

  <div class="banner">
    <div class="container">
      <h1>Devenez les maitres du pitch !</h1>
      <h3>
        Vivez une expérience transformante et développez votre leadership<br>grâce à nos workshops en prise de parole inspirés de la scène startup
      </h3>
      <%= link_to "Découvrez nos workshops", "#products-homepage", class: "btn btn-dark-background" %>
    </div>
  </div>
</div>
  



<!--    CUSTOMERS    -->


<div class="container">
  <div class="row">
    <div class="customers-homepage">
      <div class="customers-logos">
        <%= image_tag "logos/bva-white.png", alt: "Logo client Groupe BVA", class: "customers-logo bva" %>
        <%= image_tag "logos/chanel-white.png", alt: "Logo customer Chanel", class: "customers-logo chanel" %>
        <%= image_tag "logos/allianz-white.png", alt: "Logo client Allianz", class: "customers-logo allianz" %>
        <%= image_tag "logos/ratp-group-white.png", alt: "Logo customer Groupe RATP", class: "customers-logo ratp" %>
        <%= image_tag "logos/business-france-white.png", alt: "Logo customer Business France", class: "customers-logo business-france" %>
        <%= image_tag "logos/cci-nouvelle-aquitaine-white.png", alt: "Logo client CCI Nouvelle-Aquitaine", class: "customers-logo cci" %>
        <%= image_tag "logos/laposte-white.png", alt: "Logo client Groupe Laposte", class: "customers-logo laposte" %>
      </div>
    </div>
    <div class="bottom-customers-homepage">
      <!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1366 191.5">-->
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1366 101.5">
        <path d="M1366-.5c-43,26-305.79,90.5-683,90.5S38,24.49,0-.5Z"/>
        <!--<circle cx="1085.5" cy="100" r="84.5" class="moon-hero-homepage"/>-->
      </svg>
    </div>
  </div>
  
  

  
  
  
  
  <!--    PRESENTATION    -->
  

  <div class="row">
    <section class="presentation">
        <h2>De quelle <span class="important-word">planète</span> vient-on ?</h2>
        <div class="content-presentation-homepage">
          <p>
            Nés sur la <b>planète STARTUP-101</b>, nous accompagnons <b>depuis 5 ans</b> les explorateurs du cosmos - entrepreneurs, collaborateurs et dirigeants - dans leurs aventures de <b>prise de parole sur scène, dans les media et sur salons internationaux</b>.
            <br><br>
            Afin de les accompagner au mieux lors de ce voyage intergalactique, nous avons développé des <b>workshops thématiques</b> pour créer le super pitch efficace et impactant qui leur permettra de <b>réussir dans toutes les situations</b>.
            <br><br>
            <span>Prêt à embarquer ?</span>
          </p>
        </div>
    </section>
  </div>
  
  
  
  
  
  
  <!--    FEATURES    -->
  
  
  <div class="row">
    <div class="features">
      <h2>
        Vivez une <span class="important-word">expérience</span> transformante !
      </h2>
      <div class="features-list">
        <div class="feature">
          <%= image_tag "homepage/features/business-driven.png", alt: "picto features business driven", class: "business-driven-feature" %>
          <h4>
            Business-driven
          </h4>
          <p>
            Nous prenons en compte votre vision et vos enjeux business pour créer un pitch efficace et impactant au regard de vos objectifs stratégiques.
          </p>
        </div>
        <div class="feature">
          <%= image_tag "homepage/features/collective-intelligence.png", alt: "picto features collective intelligence", class: "collective-intelligence-feature" %>
          <h4>
            Collective intelligence
          </h4>
          <p>
            Nous sommes convaincus que la dynamique de groupe permet d'apprendre les uns des autres, d'aller plus vite, plus loin, et d'être plus créatif. 
          </p>
        </div>
        <div class="feature">
          <%= image_tag "homepage/features/human-oriented.png", alt: "picto features human oriented", class: "human-oriented-feature" %>
          <h4>
            Human-oriented
          </h4>
          <p>
            Nous co-construisons avec vous une prise de parole qui vous ressemble et qui prend en compte votre histoire, votre personnalité et vos envies.
          </p>
        </div>
        <div class="feature">
          <%= image_tag "homepage/features/innovative-mindset.png", alt: "picto features innovation", class: "innovation-feature" %>
          <h4>
            Innovative Mindset
          </h4>
          <p>
            Nous vous challengons sans langue de bois et utilisons notre expérience du monde des startups pour vous permettre de développer une vision et un projet unique et innovant. 
          </p>
        </div>
        <div class="feature">
          <%= image_tag "homepage/features/energy.png", alt: "picto features energy", class: "positive-energy-feature" %>
          <h4>
            Positive Energy
          </h4>
          <p>
            Nous sommes persuadés qu'avec bienveillance et détermination, vous pouvez déplacer des montagnes, et qu'il n'y a pas de limite à ce que vous pouvez accomplir.
          </p>
        </div>
        <div class="feature">
          <%= image_tag "homepage/features/life-changing.png", alt: "picto features life-changing experience", class: "life-changing-feature" %>
          <h4>
            Life-changing experience
          </h4>
          <p>
            Nous pensons nos workshops comme des expériences uniques d'échanges et de découvertes durant lesquelles vous dépasserez vos limites et développerez votre potentiel !
          </p>
        </div>
      </div>
    </div>
  </div>
 
  
  
  
  
  
    <!--    PITCHER    -->
  
 <!-- 
  <div class="row">
    <div class="pitcher-homepage">
      <%= image_tag("homepage/mickaela-pitchmystartup.jpg", :class => "image-pitcher-homepage") %>
    </div>
  </div>
  -->
  <div class="row">
    <div class="top-product-homepage">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1366 90.5">
        <path d="M1366,96C1323,70,1060.21,5.5,683,5.5S38,71,0,96Z" transform="translate(0 -5.5)"/>
      </svg>
    </div>
  </div>
  
  
  
  
  
  
  <!--    PRODUCT    -->
  
  
  <div class="row">
    <div class="products-homepage" id="products-homepage">
      <h2>
        Le <span class="important-word">pitch</span> au coeur de nos produits
      </h2>
      <div class="list-products-homepage">       
        <div class="product-homepage">
          <h4>
            Pitch Fair
          </h4>
          <div class="content-product-homepage">
            <p class="catchphrase-product-homepage">
              Prendre la parole sur salon et maximiser votre ROI
            </p>
            <p class="description-product-homepage">
              <b>Pour qui</b><br>Startups, PME
              <br><br><br>
              <b>Dans quel cadre</b><br>
              Salon internationaux,<br>
              Evénements innovation
              <br><br><br>
              <b>Langues</b><br>Français, anglais
            </p>
            <p class="infos-product-homepage">
              <i class="fas fa-user-alt"></i> 5-16 participants<br>
              <i class="fas fa-clock"></i> 1 demi-journée + 2h de coaching individuel en option
            </p>
            
          </div>
          <%= link_to "Nous contacter", "contact", class: "btn btn-light-background" %>
        </div>
        <div class="product-homepage">
          <h4>
            Pitch Camp
          </h4>
          <div class="content-product-homepage">
            <p class="catchphrase-product-homepage">
              Pitcher votre startup lors de Demo days
            </p>
            <p class="description-product-homepage">
              <b>Pour qui</b><br>Startups,<br>Projets intrapreneuriaux
              <br><br>
              <b>Dans quel cadre</b><br>Programme d’accélération,<br>Programme d’intrapreneuriat,<br>Demo-Day
              <br><br>
              <b>Langues</b><br>Français, anglais
            </p>
            <p class="infos-product-homepage">
              <i class="fas fa-user-alt"></i> 5-16 participants<br>
              <i class="fas fa-clock"></i> 2 demi-journées + 4h de coaching individuel en option
            </p>
            
          </div>
          <%= link_to "Nous contacter", "contact", class: "btn btn-light-background" %>
        </div>
        <div class="product-homepage">
          <h4>
            Pitch Now
          </h4>
          <div class="content-product-homepage">
            <p class="catchphrase-product-homepage">
              Présenter votre entreprise et répondre aux interviews
            </p>
            <p class="description-product-homepage">
              <b>Pour qui</b><br>Entrepreneurs, managers, dirigeants
              <br><br>
              <b>Dans quel cadre</b><br>Interview, table ronde,<br>Radio, télévision,<br>Vidéo
              <br><br>
              <b>Langues</b><br>Français, anglais
            </p>
            <p class="infos-product-homepage">
              <i class="fas fa-user-alt"></i> 8 participants max<br>
              <i class="fas fa-clock"></i> 1 demi-journée + 2h de coaching individuel en option
            </p>
            
          </div>
          <%= link_to "Nous contacter", "contact", class: "btn btn-light-background" %>
        </div>
        <div class="product-homepage">
          <h4>
            Pitch Heroes
          </h4>
          <div class="content-product-homepage">
            <p class="catchphrase-product-homepage">
              Pitcher votre job et présenter votre entreprise
            </p>
            <p class="description-product-homepage">
              <b>Pour qui</b><br>Collaborateurs d'entreprise
              <br><br><br>
              <b>Dans quel cadre</b><br>Situation de networking,<br>Evénement en interne,<br>Salon professionnel
              <br><br>
              <b>Langues</b><br>Français, anglais
            </p>
            <p class="infos-product-homepage">
              <i class="fas fa-user-alt"></i> 5-32 participants<br>
              <i class="fas fa-clock"></i> 1 ou 2 demi-journée(s)<br>&emsp;
            </p>
            
          </div>
          <%= link_to "Nous contacter", "contact", class: "btn btn-light-background" %>
        </div>
      </div>
    </div>
  </div>





  <!--    TESTIMONIALS    -->
  
  
  <div class="row">
    <div class="testimonials-homepage" id="testimonials-homepage">

      <div class="testimony-homepage" id="testimony-homepage">
        <div class="three-dots-homepage">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 39.81 9.37">
            <style type="text/css">
              .st0{fill:#E0278F;}
              .st1{fill:#FFF100;}
              .st2{fill:#00FEB5;}
            </style>
            <g>
              <circle class="st0" cx="5.1" cy="4.62" r="4.5"/>
            </g>
            <g>
              <circle class="st1" cx="20.04" cy="4.62" r="4.5"/>
            </g>
            <g>
              <circle class="st2" cx="34.98" cy="4.62" r="4.5"/>
            </g>
          </svg>`
        </div>

        <p class="text">
          “ Pitch Masters a accompagné la RATP dans la préparation de Viva Technology 2019 en coachant et formant près de 50 collaborateurs-ambassadeurs sur le stand RATP.
          <br><br>
          Cette formation, montée en un temps record, a été un vrai plus dans l’animation du stand puisque les collaborateurs ont reçu les clés de la prise de parole en public et ont délivré avec plus d’impact les messages que le Groupe RATP voulait faire passer.
          <br><br>
          Les coachs de Pitch Masters ont ainsi contribué à créer une belle dynamique et un état d’esprit bienveillant dans une ambiance positive. “
        </p>

        <div class="footer-testimony">
          <p class="author">
            <span class="name">Thomas De Lacoste</span>, Innovation Lab Manager @  <span class="company">Groupe RATP</span>
          </p>
          <div class="author-picture">
            <%= image_tag "homepage/pictures/thomas-de-lacoste.jpeg" %>
          </div>
        </div>
      </div>

    </div>
  </div>
  
  




</div>
